<mat-card>
    <mat-card-content>
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-subtitle>{{ description }} </mat-card-subtitle>
        <mat-form-field>
            <input matInput value="Disco party!" placeholder="Message" #message> </mat-form-field>
        <mat-form-field>
            <input matInput value="Dance" placeholder="Action" #action> </mat-form-field>
        <button mat-raised-button color="warn" (click)="openSnackBar(message.value, action.value)">Show snack-bar</button>
    </mat-card-content>
</mat-card>