mat-form-field {
  width: 100%;
}

.btn-sec {
  margin-right: 5rem !important;
  text-align: right;
  margin-top: 1.5em;
}

.Update-btn {
  margin: 5px;
}

.Discard-btn {
  margin: 5px;
}

.text-inside {
  position: absolute;
  left: 5px;
  width: 90%;
}


.full-width {
  width: 100%;
  margin-bottom: 10px;
}

.error-message {
  font-size: 12px;
}
