  <mat-card class="no-space">

      <mat-card-title>Recochitas FC - Soccer Games # {{ soccerGames.id }}</mat-card-title>
      <mat-card-subtitle> Date: {{ soccerGames.date | date }} / {{ soccerGames.time | slice : 0 : 5 }}</mat-card-subtitle>
      <mat-card-subtitle> Field: {{ soccerGames.field }} - {{ soccerGames.fieldNumber }}</mat-card-subtitle>
      <mat-card-subtitle> Price: {{ soccerGames.price }}</mat-card-subtitle>
      <mat-card-subtitle> Description: {{ soccerGames.description }}</mat-card-subtitle>
      <mat-card-subtitle>Players selected {{ soccerGames.players.length }}</mat-card-subtitle>
      <table>
        <tr>
          <th></th>
        </tr>
        <tr *ngFor="let player of soccerGames.players; let i = index">
          <div>
            <td>{{ i + 1 }}. {{player.name}}</td>
          </div>
        </tr>
      </table>
  </mat-card>



